<h1>Listing j_unit_xmls</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Contentxml</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @j_unit_xmls.each do |j_unit_xml| %>
  <tr>
    <td><%= j_unit_xml.name %></td>
    <td><%= j_unit_xml.contentxml %></td>
    <td><%= link_to 'Show', j_unit_xml %></td>
    <td><%= link_to 'Edit', edit_j_unit_xml_path(j_unit_xml) %></td>
    <td><%= link_to 'Destroy', j_unit_xml, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New J unit xml', new_j_unit_xml_path %>
