<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @j_unit_xml.name %>
</p>

<p>
  <b>Contentxml:</b>
  <%= @j_unit_xml.contentxml %>
</p>


<%= link_to 'Edit', edit_j_unit_xml_path(@j_unit_xml) %> |
<%= link_to 'Back', j_unit_xmls_path %>
