= render :file => '/visualization/pyramid'
- if @json
  = render :partial => '/layouts/pyramid_partial'
  = flash[:no_test_error]
= javascript_include_tag 'pyramid_visualization'
:javascript
  $("#display_message").css("display", "none");
  var jsonR;
  var regExp = new RegExp('"', 'g');
  jsonR = "#{@json}";
  jsonR = JSON.parse(jsonR);
  if (jsonR != "") {
      Pyramid.plotBlockPyramid(jsonR);
      if (false) {
          Pyramid.plotIdealPyramid(jsonR);
      }
  }
