<div id="menu-bar">
  <h1>Testing Trend Analysis</h1>
  <a href='/home/index' style="height: 20px; width: 50px; color: #ffffff; margin-right: 10px;">HOME</a>
</div>


<body>
<div id="page_title">
  <h1>Pyramid View</h1>

</div>

<div id="sub_project_picker">
  <h2>Select Project to get Test-Pyramid</h2>
  <%= form_tag ({:action => 'sub_project_filter'}) do %>
      <div class="fields" >
        <label for="sub_project">Project:</label>
        <%= select("sub_project", "id", SubProject.all.collect {|p| [ p.name, p.id ] } ,{:include_blank => true}) %>
        <p class="error"><%= flash[:no_id_error] if flash[:no_id_error] %></p>
        <br>
      </div>
      <div id="submit-project-button">
        <%= submit_tag "Plot" %>
      </div>
  <% end %>

</div>


<% if @sub_project_name %>
    <div id="graph">
      <h4>Test Pyramid for Project: <%= @sub_project_name %></h4><br><br>
      <div id="legend">
        <div id="unit">
          <div id="unit_rect">
          </div>
          <p>Unit Tests</p>
        </div>
        <div id="integration">
          <div id="integration_rect">
          </div>
          <p>Integration Tests</p>
        </div>
        <div id="functional">
          <div id="functional_rect">
          </div>
          <p>Functional Tests</p>
        </div>
      </div>

      <div id="unit_region">
        <% if @percent_unit_test!="0.00" %>
        <p id="unit_percent"> <%= @percent_unit_test %>%</p>
        <p id="unit_duration"> <%= @duration_unit %>Mins</p>
        <% end %>
        <div id="unit_test">
            <div id="integration_region">
              <% if @percent_integration_test!="0.00" %>
              <p id="integration_percent"> <%= @percent_integration_test %>%</p>
              <p id="integration_duration"> <%= @duration_integration %>Mins</p>
              <% end %>
              <div id="integration_test">
                 <div id="functional_region">
                   <% if @percent_functional_test!="0.00" %>
                   <p id="functional_percent"> <%= @percent_functional_test %>%</p>
                   <p id="functional_duration"> <%= @duration_functional %>Mins</p>
                   <% end %>
                   <div id="functional_test">

                    </div>
                 </div>
              </div>
            </div>
        </div>
      </div>

    <script type="text/javascript">
        $(document).ready(function(){
            var bodyHeight = $('body').css('height'),
                    bodyWidth = $('body').css('width'),
                    unitTriangleHeight = parseInt(bodyHeight)*parseInt("<%= "%0.0f" % @percent_unit_test %>")/200;
            if (unitTriangleHeight==0)
                unitTriangleHeight = bodyHeight
            var
                    integrationTriangleHeight = parseInt(unitTriangleHeight)*(parseInt("<%= "%0.0f" % @percent_integration_test %>")+parseInt("<%= "%0.0f" % @percent_functional_test %>"))/200,
                    functionalTriangleHeight = parseInt(unitTriangleHeight)*parseInt("<%= "%0.0f" % @percent_functional_test %>")/200;

            $("#unit_test").css({
                "border-bottom-width": unitTriangleHeight+"px",
                "border-left-width":unitTriangleHeight+"px",
                "border-right-width":unitTriangleHeight+"px"
            });
            $("#integration_test").css({
                "border-bottom-width": integrationTriangleHeight+"px",
                "border-left-width":integrationTriangleHeight+"px",
                "border-right-width":integrationTriangleHeight+"px",
                "margin-left": -1*integrationTriangleHeight+"px"

            });
            $("#functional_test").css({
                "border-bottom-width": functionalTriangleHeight+"px",
                "border-left-width":functionalTriangleHeight+"px",
                "border-right-width":functionalTriangleHeight+"px",
                "margin-left": -1 *functionalTriangleHeight+"px"
            });
            $("#unit_region").css({
                "width":unitTriangleHeight*2+"px"
            } );

        });


    </script>

  </div>
 <%	 end %>

</body>

