<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project_detail.Name %>
</p>

<p>
  <b>Log type:</b>
  <%= @project_detail.Log_type %>
</p>


<%= link_to 'Edit', edit_project_detail_path(@project_detail) %> |
<%= link_to 'Back', project_details_path %>
