<h1>Comparative Analysis View</h1>

<div id="comparative_analysis" style="width:900px;height:600px">


<script>
    st_date = new Date('<%= @start_date %>');
    start_time= st_date.getTime()
    ed_date = new Date('<%= @end_date %>');
    end_time= ed_date.getTime()
    var data = [];
    for(var i = start_time; i<=end_time; i+=((end_time-start_time)/10)){
        data.push(i);
    }
    var ticks = [];
    for (var i = 0; i < data.length; i++) {
        ticks.push(data[i]); //corrected the missing closing bracket here..
    }

$.plot($("#comparative_analysis"),[

     {
        label: "Project 1",
        data: [(0 , 10) , (10 , 60)],
        lines: {show: true},
        points: {show: true},
        color: "maroon"

     },
    {
            label: "Project 2",
            data: [(0,10) ,(10,45)],
            lines: {show: true},
            points: {show: true},
            color: "blue"

         }],
        /*data,*/

     {
         xaxis: {
             mode: "time",
             ticks: ticks,
             timeformat: "%y/%m/%d",
             tickLength: 5,
             minTickSize: [1, "year"],
             axisLabel: 'Date',
             axisLabelUseCanvas: true,
             axisLabelFontSizePixels: 12,
             axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
             axisLabelPadding: 5 ,
             min: start_time,
             max: end_time
         },
         yaxis: {
                    tickLength: 5,
                    axisLabel: 'Percentage of Passing Tests',
                    axisLabelUseCanvas: true,
                    axisLabelFontSizePixels: 12,
                    axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                    axisLabelPadding: 5  ,
                    min:0,
                    max: 100

                },
         grid:  {
                     borderWidth: 0,
                     hoverable: true,
                     clickable: true,
                     labelMargin: 20,
                     backgroundColor: { colors: ["#fff", "#eee"] }

                },
         legend: {
                     position: "ne"
                 }

     }
);




</script>

</div>

<h1>Enter Date Range </h1>
<%= form_tag ({:action => 'date_filter'}) do %>
    <div class="fields" >
      <label for="start_date">Start Date:</label>
      <%= text_field_tag (:start_date) %> <br>
    </div>
    <div class="fields" >
      <label for="end_date">End Date:</label>
      <%= text_field_tag (:end_date) %> <br>
    </div>
    <!--   <%= text_field_tag :start_date %>
    <%= text_field_tag :end_date %> -->

    <%= submit_tag "Regenerate View" %>
<% end %>

<a href='/home/index'><button style="height: 30px; width: 100px; marin-left: 30px; margin-top: 60px;" type="button">HOME</button></a>
