<head xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="/stylesheet/upload_form.css"> </link>
</head>


<body>
<%= render :file=> '/home/header.html.erb' %>

<div id="page_title">
  <h1>Comparative Analysis View </h1>

</div>

<div id="Date-Range-Input">
  <h2>Enter Date Range</h2>
  <%= form_tag ({:action => 'date_filter'}) do %>
      <div class="fields" >
        <label for="start_date">Start Date:</label>
        <%= datepicker_input 'comparative_analysis', 'start_date',:dateFormat => "yy-mm-dd" %>
      </div>
      <div class="fields" >
        <label for="end_date">End Date:</label>
        <%= datepicker_input 'comparative_analysis', 'end_date',:dateFormat => "yy-mm-dd" %>
      </div>
      <div class="fields" >
        <label for="project">Project:</label>
        <%= select("project", "id", Project.all.collect {|p| [ p.name, p.id ] }, { :include_blank => true }) %><br>
        <% if flash[:no_id_error] %>
            <p class="error"><%= flash[:no_id_error] %></p>
        <% end %>
      </div>
      <div id="submit-plot-button">
      <%= submit_tag "Plot" %>
      </div>
  <% end %>

</div>

 <% if @result_set%>
<div id="date-range-title">
  <h3>Graph Plotted For Date Range:</h3>
  <h3>From <%= @start_date %> to <%= @end_date %></h3>
</div>

<div id="comparative_analysis" style="width:900px;height:600px">
  <script>
      st_date = new Date('<%= @start_date %>');
      start_time= st_date.getTime()
      ed_date = new Date('<%= @end_date %>');
      end_time= ed_date.getTime()
      var data = [];
      for(var i = start_time; i<=end_time; i+=((end_time-start_time)/10)){
          data.push(i);
      }
      var ticks = [];
      for (var i = 0; i < data.length; i++) {
          ticks.push(data[i]); //corrected the missing closing bracket here..
      }

      var getdata = function(){
          var data = [];
          <%for sub_project in @result_set %>
          data.push({
              label: '<%= sub_project[0]%>',
              data: <%= sub_project[1]%>,
              lines: {show: true},
              points: {show: true},
              color: "#"+((1<<24)*Math.random()|0).toString(16)
          });
          <%end %>

          return data;
      };


      $.plot($("#comparative_analysis"),
             getdata(),
              /*data,*/

              {
                  xaxis: {
                      rotateTicks:135,
                      mode: "time",
                       ticks: ticks,
                      timeformat: "%d-%b , %y",
                      tickLength: 5,
                      tickSize:5,
                      minTickSize: [1, "year"],
                      axisLabel: 'Date-Range',
                      axisLabelUseCanvas: true,
                      axisLabelFontSizePixels: 12,
                      axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                      axisLabelPadding: 5 ,
                      min: start_time,
                      max: end_time
                  },
                  yaxis: {
                      tickLength: 5,
                      axisLabel: 'Percentage of Passing Tests',
                      axisLabelUseCanvas: true,
                      axisLabelFontSizePixels: 12,
                      axisLabelFontFamily: 'Verdana, Arial, Helvetica, Tahoma, sans-serif',
                      axisLabelPadding: 5  ,
                      min:0,
                      max: 100

                  },
                  grid:  {
                      borderWidth: 0,
                      hoverable: true,
                      clickable: true,
                      labelMargin: 1,
                      backgroundColor: { colors: ["#fff", "#eee"] }

                  },
                  legend: {
                      position: "ne"
                  }

              }
      );
  </script>
</div>
<% end  %>

</body>



