<html>
<head xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="../../assets/stylesheets/upload_form.css"> </link>
  <link rel="stylesheet" href="../../assets//stylesheets/comparative_analysis.css"> </link>
  <script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>

</head>
<body>
<%= render :file=> '/home/header.html.erb' %>

<div class="page_title">
  <h1>Comparative Analysis View </h1>

</div>

<div id="Date-Range-Input">
  <h2>Enter Date Range</h2>
  <%= form_tag({:action => 'date_filter' },{:id => "comparative-analysis-form"}) do %>
      <% if flash[:date_error]!=nil %>
          <p class="error"><%= flash[:date_error] %><br></p>
      <% end %>
      <% if flash[:no_data_error]!=nil %>
          <p class="error"><%= flash[:no_data_error] %><br></p>
      <% end %>
      <div class="fields" >
        <label for="start_date">Start Date:</label>
        <div class="required-field date-field">
          <%= datepicker_input 'comparative_analysis', 'start_date',:dateFormat => "yy-mm-dd", :readonly => "readonly" %>
          <span class='error-msg'>Please Enter Start date</span>
        </div>
      </div>

      <div class="fields" >
        <label for="end_date">End Date:</label>
        <div class="required-field date-field">
          <%= datepicker_input 'comparative_analysis', 'end_date',:dateFormat => "yy-mm-dd", :readonly => "readonly" %>
          <span class='error-msg'>Please Enter End date</span>
        </div>
      </div>

      <div class="fields" >
        <label for="project">Project:</label>
        <div class="required-field">
          <%= select("project", "id", Project.all.collect {|p| [ p.name, p.id ]},{:include_blank => '--Select--'}) %><br>
          <span class='error-msg'>Please select a Project</span>
        </div>
        <br><span class ='error'><%= flash[:required_field] %></span>
      </div>
      <div id="submit-plot-button">
        <%= submit_tag nil, { :id =>"form-submit"}%>
      </div>

  <% end %>


</div>

 <% if @result_set and flash[:no_data_error]==nil and flash[:date_error]==nil%>
<div id="date-range-title">
  <h3>Graph Plotted For Date Range:</h3>
  <h3>From <%= @start_date %> to <%= @end_date %></h3>
</div>

<div id="comparative_analysis" style="width:900px;height:600px">

  <script>
      st_date = new Date('<%= @start_date %>');
      start_time= st_date.getTime()
      ed_date = new Date('<%= @end_date %>');
      end_time= ed_date.getTime()
      var data = [];
      for(var i = start_time; i<=end_time; i+=((end_time-start_time)/10)){
          data.push(i);
      }
      var tick_set = [];
      for (var i = 0; i < data.length; i++) {
          tick_set.push(data[i]); //corrected the missing closing bracket here..
      }

      var getdata = function(){
          var data = [];
          <%for sub_project in @result_set %>
          data.push({
              label: '<%= sub_project[0]%>',
              data: <%= sub_project[1]%>,
              lines: {show: true},
              points: {show: true},
              color: "#"+((1<<24)*Math.random()|0).toString(16)
          });
          <%end %>

          return data;
      };

     $.plot($("#comparative_analysis"),
             getdata(),
              {
                  xaxis: {
                      rotateTicks:135,
                      mode: "time",
                      ticks: tick_set,
                      timeformat: "%d-%b , %y",
                      tickLength: 5,
                      tickSize:5,
                      minTickSize: [1, "year"],
                      min: start_time,
                      max: end_time,
                      labelMargin: 50
                  },
                  yaxis: {
                      tickLength: 5,
                      min:0,
                      max: 100,
                      labelMargin: 30
                  },
                  grid:  {
                      borderWidth: 0,
                      hoverable: true,
                      clickable: true,
                      labelMargin: 1,
                      backgroundColor: { colors: ["#fff", "#eee"] },
                      minBorderMargin:40
                  },
                  legend: {
                      position: "ne"
                  }

              }
      );
  </script>
</div>
    <div id="y-axisLabel">
      <p>Percentage Of Test Passing</p>
    </div>

    <div id="x-axisLabel">
      <p> Date-Range</p>
    </div>

<% end  %>

</body>
<script type="text/javascript">
    $(document).ready(function(){
        $("#comparative-analysis-form").submit(function(){
            return Utils.validateDate($("#comparative-analysis-form"));
        });
    });
</script>
<script type="text/JavaScript" src="comparitive_analysis.js"></script>
</html>