= javascript_include_tag 'comparative_analysis_form'
.page_title
  %h1 Comparative Analysis View
#Date-Range-Input
  = form_tag({:action => 'date_filter'}, {:id => "comparative-analysis-form"}) do
    %table{:border => "1", :style => "text-align: left; width: 100%;"}
      %thead
        %tr
          %th
          %th
            %h2 Enter Date Range
      %tbody
        %tr.required-field-date-field
          %td
            %label{:for => "start_date"} Start Date:
          %td= datepicker_input 'comparative_analysis', 'start_date', :dateFormat => "yy-mm-dd", :readonly => "readonly", :maxDate => 0, :placeholder => 'YYYY-MM-DD', :class => 'required'
        %tr.required-field-date-field
          %td
            %label{:for => "end_date"} End Date:
          %td
            %div= datepicker_input 'comparative_analysis', 'end_date', :dateFormat => "yy-mm-dd", :readonly => "readonly", :maxDate => 0, :placeholder => 'YYYY-MM-DD', :class => 'required'
            %div.errormsg Select End Date Greater Than Start Date
        %tr.fields
          %td
            %label{:for => "project"} Project:
          %td= select_tag 'project_id', options_from_collection_for_select(Project.get_all_projects,'id','name'), :prompt => '--Select--', :id => 'project_select', :class => 'required'
        %tr.fields
          %td
            %label{:for => "sub_project"} Sub Project:
          %td= select_tag 'sub_project', '', :prompt => '--Select--', :id => 'sub_project_select', :class => 'required', :disabled => true
        %tr#submit-plot-button
          %td
          %td= submit_tag "Plot", {:id => "form-submit"}

%br/
%br/
- if flash[:no_data_error]!=nil
  %span.display-message
    = flash[:no_data_error]
    %br/
- if @result_set and flash[:no_data_error]==nil
  #legendlabel{:style=>"float:right;width:18.7%;"}
  #date-range-title{:style => " margin-left: 22%; "}
    %h3
      Graph Plotted For #{@project_name}
    %h3
      Date Range :From #{@start_date.split(" ")[0]} to #{@end_date.split(" ")[0]}
  #comparative_analysis{:style => "width:900px;height:600px;"}
    :javascript
      Graph.plot('#{@start_date}', '#{@end_date}', '#{@result_set.to_json}',100,"#comparative_analysis");
  #y-axisLabel
    %p Percentage Of Test Passing
  #x-axisLabel
    %p Date-Range
:javascript
  $(document).ready(function () {
      $("#comparative-analysis-form").validate();
      $("#comparative-analysis-form").submit(function () {
          return ValidateStartDateIsLessThanEndDate.checkForDates($("#comparative-analysis-form"));
      });
  });
