<html>
<head xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="../../assets/stylesheets/comparative_analysis.css"/>

</head>
<%= render :file=> '/home/header.html.erb' %>
<body>

<div class="page_title">
  <h1>Comparative Analysis View </h1>
</div>
<div id="Date-Range-Input">
  <h2>Enter Date Range</h2>
  <%= form_tag({:action => 'date_filter' },{:id => "comparative-analysis-form"}) do %>
      <span class="errormsg">Select End Date Greater Than Start Date</span>
      <br>
      <div class="fields" >
        <label for="start_date">Start Date:</label>
        <div class="required-field date-field">
          <%= datepicker_input 'comparative_analysis', 'start_date',:dateFormat => "yy-mm-dd", :readonly => "readonly",:placeholder => 'YYYY-MM-DD',:class=> 'required' %>
        </div>
      </div>

      <div class="fields" >
        <label for="end_date">End Date:</label>
        <div class="required-field date-field">
          <%= datepicker_input 'comparative_analysis', 'end_date',:dateFormat => "yy-mm-dd", :readonly => "readonly",:placeholder => 'YYYY-MM-DD',:class=> 'required' %>
        </div>
      </div>

      <div class="fields" >
        <label for="project">Project:</label>
        <div class="required-field">
          <%= select("project", "id", Project.all.collect {|project| [ project.name, project.id ]},{:include_blank => '--Select--'}, :class => 'required') %><br>
        </div>
        <br>
      </div>
      <div id="submit-plot-button">
        <%= submit_tag nil, { :id =>"form-submit"}%>
      </div>

  <% end %>


</div> <br><br>
<% if flash[:no_data_error]!=nil %>
    <span class="display-message"><%= flash[:no_data_error] %><br></span>
<% end %>


<% if @result_set and flash[:no_data_error]==nil and flash[:date_error]==nil%>
 <div id="date-range-title">
  <h3>Graph Plotted For <%= @project_name %></h3>
  <h3>Date Range :From <%= @start_date %> to <%= @end_date %></h3>
</div>

<div id="comparative_analysis" style="width:900px;height:600px">

  <script>
      st_date = new Date('<%= @start_date %>');
      start_time= st_date.getTime()
      ed_date = new Date('<%= @end_date %>');
      end_time= ed_date.getTime()
      var data = [];
      for(var i = start_time; i<=end_time; i+=((end_time-start_time)/10)){
          data.push(i);
      }
      var tick_set = [];
      for (var i = 0; i < data.length; i++) {
          tick_set.push(data[i]); //corrected the missing closing bracket here..
      }

      var getdata = function(){
          var data = [];
          <%for sub_project in @result_set %>
          data.push({
              label: '<%= sub_project[0]%>',
              data: <%= sub_project[1]%>,
              lines: {show: true},
              points: {show: true},
              color: "#"+((1<<24)*Math.random()|0).toString(16)
          });
          <%end %>

          return data;
      };

     $.plot($("#comparative_analysis"),
             getdata(),
              {
                  xaxis: {
                      mode: "time",
                      ticks: tick_set,
                      timeformat: "%d-%b , %y",
                      minTickSize: [1, "year"],
                      min: start_time,
                      max: end_time,
                      labelMargin: 50
                  },
                  yaxis: {
                      min:0,
                      max: 100,
                      labelMargin: 30
                  },
                  grid:  {
                      borderWidth: 0,
                      hoverable: true,
                      clickable: true,
                      labelMargin: 1,
                      backgroundColor: { colors: ["#fff", "#eee"] },
                      minBorderMargin:40
                  },
                  legend: {
                      position: "ne"
                  }

              }
      );
  </script>
</div>
    <div id="y-axisLabel">
      <p>Percentage Of Test Passing</p>
    </div>

    <div id="x-axisLabel">
      <p> Date-Range</p>
    </div>

<% end  %>
</body>
<%= render :file=> '/home/footer.html.erb' %>

<script type="text/javascript">
    $(document).ready(function(){
        $("#comparative-analysis-form").validate();
        $("#comparative-analysis-form").submit(function(){
            return ValidateStartDateIsLessThanEndDate.checkForDates($("#comparative-analysis-form"));
        });
    });
</script>
</html>