<%= stylesheet_link_tag 'comparative_analysis' %>
<%= render :partial => '/home/header.html.erb' %>

<div class="page_title">
  <h1>Comparative Analysis View </h1>
</div>
<div id="Date-Range-Input">

  <%= form_tag({:action => 'date_filter'}, {:id => "comparative-analysis-form"}) do %>
      <table border="1" style="text-align: left; width: 100%;">
        <thead>
        <tr>
          <th></th>
          <th><h2>Enter Date Range</h2></th>
        </tr>
        <span class="errormsg" style="display: none;">Select End Date Greater Than Start Date</span>
        </thead>
        <tbody>
        <tr class="required-field-date-field">
          <td>
            <label for="start_date">Start Date:</label>
          </td>
          <td><%= datepicker_input 'comparative_analysis', 'start_date', :dateFormat => "yy-mm-dd", :readonly => "readonly", :maxDate => 0, :placeholder => 'YYYY-MM-DD', :class => 'required' %></td>
        </tr>
        <tr class="required-field-date-field">
          <td><label for="end_date">End Date:</label></td>
          <td><%= datepicker_input 'comparative_analysis', 'end_date', :dateFormat => "yy-mm-dd", :readonly => "readonly", :maxDate => 0, :placeholder => 'YYYY-MM-DD', :class => 'required' %></td>
        </tr>
        <tr class="fields">
          <td><label for="project">Project:</label></td>
          <td><%= select("project", "id", Project.all.collect { |project| [project.name, project.id] }, {:include_blank => '--Select--'}, :class => 'required') %></td>
        </tr>
        <tr id="submit-plot-button">
          <td></td>
          <td><%= submit_tag "Plot", {:id => "form-submit"} %></td>
        </tr>
        </tbody>
      </table>
  <% end %>

</div>
<br><br>
<% if flash[:no_data_error]!=nil %>
    <span class="display-message"><%= flash[:no_data_error] %><br></span>
<% end %>


<% if @result_set and flash[:no_data_error]==nil %>
    <div id="date-range-title">
      <h3>Graph Plotted For <%= @project_name %></h3>

      <h3>Date Range :From <%= @start_date.split(" ")[0] %> to <%= @end_date.split(" ")[0] %></h3>
    </div>

    <div id="comparative_analysis" style="width:900px;height:600px">
      <script>
          Graph.plot('<%= @start_date %>', '<%= @end_date %>', '<%= @result_set %>',100,"#comparative_analysis");
      </script>
    </div>
    <div id="y-axisLabel">
      <p>Percentage Of Test Passing</p>
    </div>

    <div id="x-axisLabel">
      <p> Date-Range</p>
    </div>

<% end %>
<%= render partial: '/home/footer' %>

<script type="text/javascript">
    $(document).ready(function () {
        $("#comparative-analysis-form").validate();
        $("#comparative-analysis-form").submit(function () {
            return ValidateStartDateIsLessThanEndDate.checkForDates($("#comparative-analysis-form"));
        });
    });
</script>
