<%= simple_form_for(@project_deatil) do |f| %>
  <% if @project_deatil.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@project_deatil.errors.count, "error") %> prohibited this project_deatil from being saved:</h2>

      <ul>
      <% @project_deatil.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.input :Name %>
    <%= f.input :Log_type %>
    <%= f.button :submit %>




<% end %>
