<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project_deatil.Name %>
</p>

<p>
  <b>Log type:</b>
  <%= @project_deatil.Log_type %>
</p>


<%= link_to 'Edit', edit_project_deatil_path(@project_deatil) %> |
<%= link_to 'Back', project_deatils_path %>
