<head xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="/stylesheet/upload_form.css"> </link>
</head>

<div id="menu-bar">
  <h1> Testing Trend Analysis</h1>
  <a href='/home/index' style="height: 20px; width: 50px; color: #ffffff; margin-right: 10px;">HOME</a>
</div>

<body>

<div class="heading">
<h1 style="text-align: center; font-family: tahoma;">Upload Test Data</h1>

</div>
<div class="form" >
<%= form_tag({:action => 'create'},{ :method => 'get'})  do %>

       <div class="fields" style="padding-top:20px ;">
        <label for="name"> Project Name </label>
        <%= text_field_tag (:project_name) %> <br>
       </div>

      <div class="fields" >
        <label for="sub_project_name">Sub-Project name</label>
        <%= text_field_tag (:sub_project_name) %> <br>
      </div>

      <div class="fields">
        <label for="ci_job_name"> CI Job Name</label>
        <%= text_field_tag ( :ci_job_name) %> <br>
      </div>

      <div class="fields">
        <label for="test_category"> Test Category</label>
        <%= select_tag "test_category", "<option>Unit Test</option><option>Integration Test</option><option>Functional Test</option>".html_safe %> <br>
      </div>

      <div class="fields">
        <label for="test_report_type"> Test Report Type</label>
        <%= select_tag "test_report_type", "<option>JUnit</option><option>NUnit</option><option>RSpec</option><option>Cucumber</option>".html_safe %> <br>
      </div>

      <div class="fields" >
        <label for="os_name"> OS Tested On</label>
        <%= text_field_tag ( :os_name) %> <br>
      </div>

      <div class="fields">
         <label for="host_name">Host-Machine Name </label>
         <%= text_field_tag (:host_name) %><br>
      </div>

      <div class="fields">
        <label for="browser"> Browser Tested On</label>
        <%= text_field_tag (:browser) %>      <br>
      </div>

      <div class="fields">
        <label for="type_of_environment"> Environment Run on</label>
        <%= text_field_tag (:type_of_environment) %>      <br>
      </div>

      <div class="fields">
        <label for="date_of_execution"> Date Of Execution </label>
        <%=	 datepicker_input 'test_metadatum','date_of_execution' ,:dateFormat => "yy-mm-dd"%><br>
      </div>

      <div class="fields">
        <label for="dir_path">Directory name</label>
        <%= text_field_tag :logDirectory%>
      </div>

      <div class="fields">
        <label for="dir_path">File Name Pattern</label>
        <%= text_field_tag :filePattern,nil, :placeholder =>'(eg. TEST*.xml)' %> <br>
      </div>

       <div class="button">
         <%= submit_tag 'SUBMIT' %>
         <%= submit_tag("Clear All", { :name => 'reset', :id => 'reset_button', :type => "reset" }) %>
       </div>

<% end %>
</div>

</body>
