
<h1>Upload</h1>




<%= form_tag(:action => 'create',:multipart => true)  do %>
<p>
  Project Name:
  <%= text_field_tag (:name) %> <br>
   Type of reports:
  <%= text_field_tag ( :type_of_report) %> <br>
  Authorization level:
  <%= text_field_tag (:authorization_level) %>
<br>
      Sub-Project name:
      <%= text_field_tag (:sub_project_name) %> <br>
      OS Tested On:
      <%= text_field_tag ( :os_name) %> <br>
      Host-Machine Name:
      <%= text_field_tag (:host_name) %><br>
        Browser Tested On
      <%= text_field_tag (:browser) %>      <br>
        Date Of Execution
      <%= text_field_tag (:date_of_execution) %>  <br>
        User-Time Zone
      <%= text_field_tag (:user_timezone) %>
    </p>

    <p>
  <%= submit_tag 'create' %>
</p>
<% end %>