<html>
<head xmlns="http://www.w3.org/1999/html">
  <%= javascript_include_tag 'admin', 'util/utils', 'util/templates' %>
  <%= stylesheet_link_tag 'admin' %>

  <title>Admin
    <Data></Data>
  </title>
</head>
<%= render :file => '/home/header.html.erb' %>
<body>

<div class="page_title">
</div>


<div name="external-dashboard" style=" width: 96%; display: inline-block; ">
  <h1 style=" padding-bottom: 3%;">Add External Dashboard </h1>

  <div id="embedded-urls">
    <%= form_tag({:action => 'add'}, {:id => "admin-customization"}) do %>
        <table border="2" style="text-align: left; width: 100%">
          <thead>
          <tr>
            <th></th>
            <th>
              <span><em>Fields marked with (<span class="required-fields">*</span>) are compulsory</em></span>
            </th>
          </tr>
          </thead>

          <tbody>
          <tr>
            <td class="fields">
              <label for="name">Website Name<span class="required-fields">*</span></label>
            </td>
            <td>
              <%= text_field_tag (:name), nil, :class => 'required', :maxlength => "100", :style => "text-transform: uppercase" %>
            </td>
          </tr>

          <tr>
            <td class="fields">
              <label for="url-value">Website Link<span class="required-fields">*</span></label>
            </td>
            <td>
              <%= text_field_tag (:link), nil, :class => 'required', :maxlength => "100", :style => "text-transform: uppercase" %>
            </td>
          </tr>

          <tr>
            <div class="button">
              <td>
                <%= submit_tag("Clear All", {:name => 'reset', :id => 'reset_button', :type => "reset"}) %>
              </td>
              <td>
                <%= submit_tag 'ADD', :class => 'submit' %>
              </td>
            </div>
          </tr>

          </tbody>
        </table>
    <% end %>
  </div>

  <div id="added-urls">
    <table id="url-table" border="2" style="text-align: left; width: 100%">
      <thead>
      <tr>
        <th colspan="2"><h2>Currently Configured External Dashboard </h2></th>
      </tr>

      </thead>
    </table>
  </div>

</div>

</body>
<%= render :file => '/home/footer.html.erb' %>

<script type="text/javascript">
    $(document).ready(function () {
        $("#admin-customization").validate();
        ExternalDashboard.renderTable("<%= @all_external_urls %>");
    });
</script>

</html>
