<html>
<head xmlns="http://www.w3.org/1999/html">
  <%= javascript_include_tag 'admin', 'util/utils', 'util/templates' %>
  <%= stylesheet_link_tag 'admin' %>
  <title>Admin<Data></Data></title>
</head>
<%= render :file => '/home/header.html.erb' %>
<body>
<div id="title" class="page_title">
  <h1>TTA's PROJECT INFORMATION</h1>
</div>

<% if @json and flash[:no_test_error]==nil %>
    <%= render 'layouts/admin_partial' %>
<% end %>

</body>
<%= render :file => '/home/footer.html.erb' %>

<script type="text/javascript">
    $(document).ready(function () {
        ProjectStatistics.renderTable("<%= @json %>");
    });
</script>

</html>
