= javascript_include_tag 'compare_runs_form'
.page_title
  %h1 Compare Runs
= form_tag({:action => 'getCompareJson'}, :id => "compare_runs_form") do
  #compare_runs_model
    %table{:border => "1", :style => "text-align: left; width: 100%;"}
      %tbody
        %tr
          %td.fields-left{:style => "padding-bottom: 10px"}
            %label{:for => "product"} Product
          %td
            = select_tag 'product_id',  options_from_collection_for_select(Product.get_all_products,'id','name'), :prompt => "---SELECT PRODUCT-----", :id => 'product_select', :class => 'required'
        %tr
          %td#div_platform.fields-left{:disabled => "disabled", :style => "padding-bottom: 10px"}
            %label{:for => "platform"} Platforms
          %td
            = select_tag 'platforms', "", :prompt => "---SELECT PLATFORM-----", :id => 'platform_select', :class => 'required', :disabled => true
        %tr
          %td#div_test_category.fields-left{:style => "padding-bottom: 10px"}
            %label{:for => "Test-Category"} Test Category
          %td
            = select_tag 'test_category', "", :prompt => "---SELECT TEST CATEGORY-----", :id => 'test_category_select', :class => 'required', :disabled => true
        %tr
          %td.fields-left{:style => "padding-bottom: 10px"}
            %label{:for => "date1"} Date 1
          %td
            = select_tag "date_one", "", :prompt => "----SELECT DATE----", :id => 'date_one_select', :class => 'required', :disabled => true
        %tr
          %td.fields-left{:style => "padding-bottom: 10px"}
            %label{:for => "date2"} Date 2
          %td
            = select_tag "date_two", "", :prompt => "----SELECT DATE----", :id => 'date_two_select', :class => 'required', :disabled => true
        %tr
          %td
          %td#do-compare
            = submit_tag "Plot", {:id => "compare_runs"}
