<%= render :file => '/home/header.html.erb' %>
<%= javascript_include_tag 'util/utils', 'admin', 'util/templates' %>
<%= stylesheet_link_tag 'home' %>
<body>

<div class="main-menu">
  <a href='/pyramid'>
    <button type="button">TEST PYRAMID VIEW</button>
  </a>
  <a href='/comparative_analysis'>
    <button type="button">COMPARATIVE ANALYSIS</button>
  </a>
  <!--# Commenting this button as the compare run module is in progress-->
  <a href='/compare_runs'>
    <button type="button">COMPARE RUNS</button>
  </a>
  <a href='/defect_analysis'>
    <button type="button">FAILURE ANALYSIS</button>
  </a>
  <a href='/upload'>
    <button type="button">UPLOAD TEST DATA</button>
  </a>
  <a href='/execution_trends'>
    <button type="button">TEST EXECUTION TRENDS</button>
  </a>

  <% if !(@all_external_urls == "[]") %>
      <%= render 'layouts/home_partial' %>
  <% end %>

</div>

</div>

</body>
<%= render :file => '/home/footer.html.erb' %>