<head xmlns="http://www.w3.org/1999/html">
  <%= stylesheet_link_tag 'execution_trends' %>
  <%= javascript_include_tag 'util/utils', 'util/trend_analysis' ,'execution_trends','jquery.validate'%>
</head>

<%= render :file => '/home/header.html.erb' %>
<body>

<div id="page_title">
  <h1 style=" padding: 20px; ">Test Execution Trends</h1>
</div>
<div id="class_test_picker">
  <%= form_tag({:action => 'show'}, {:id => "execution_trends_form"}) do %>
      <table border="1" style="text-align: left; width: 100%;">
        <tbody>
        <tr>
          <td class="fields-left" style="padding-bottom: 10px">
            <label for="project">Project</label>
          </td>
          <td>
            <%= select_tag 'project_id', "", :prompt => "---SELECT PROJECT-----", :id => 'project_select', :class => 'required' %>
          </td>
        </tr>
        <tr>
          <td id="div_subproject" class="fields-left" disabled="disabled" style="padding-bottom: 10px">
            <label for="sub-project">Sub Project</label>
          </td>
          <td>
            <%= select_tag 'sub_projects', "", :prompt => "---SELECT SUB PROJECT-----", :id => 'sub_project_select', :class => 'required', :disabled => true %>
          </td>
        </tr>
        <tr>
          <td id="div_category_type" class="fields-left" style="padding-bottom: 10px">
            <label for="Test-Category">Test Category </label>
          </td>
          <td>
            <%= select_tag 'test_category', "", :prompt => "---SELECT TEST CATEGORY-----", :id => 'test_category_select', :class => 'required', :disabled => true %>
          </td>
        </tr>

        <tr class="required-field-date-field">
          <td>
            <label for="start_date">Start Date:</label>
          </td>
          <td>
            <input type="text" id="start_date" name="start_date" readonly="readonly" placeholder="YYYY-MM-DD" class="required" disabled="true"/>
          </td>
        </tr>
        <tr class="required-field-date-field">
          <td><label for="end_date">End Date:</label></td>
          <td>
            <input type="text" id="end_date" name="end_date" readonly="readonly" placeholder="YYYY-MM-DD" class="required" disabled="true"/>
          </td>
        </tr>
        <span class="errormsg" style="margin-top: 19.3%;display:none;margin-left: 9%;">Select End Date Greater Than Start Date</span>

        <tr>
          <td id="div_class_name" class="fields-left" style="padding-bottom: 10px">
            <label for="Test-Class-Name">Test Class Name </label>
          </td>
          <td>
            <%= select_tag 'test_class_name', "", :prompt => "---SELECT CLASS NAME-----", :id => 'test_class_name_select', :class => 'required', :disabled => true %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td id="show-execution_trends">
            <%= submit_tag "Submit", {:id => "execution_trends"} %>
          </td>
        </tr>
        <tr>
          <td class="serverData" style="display: none;"><%= @projects %></td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>
</body>

<%= render :file => '/home/footer.html.erb' %>


