<head xmlns="http://www.w3.org/1999/html">
  <%= stylesheet_link_tag 'execution_trends' %>
  <%= javascript_include_tag 'util/trend_analysis', 'util/utils' %>
</head>
<%= render :file => '/home/header.html.erb' %>

<body>
<div id="date-range-title">
  <h2>Test Execution Trend</h2>
  <h3>Graph Plotted For</h3>

  <h3>Date Range :From <%= @start_date.split(" ")[0] %> to <%= @end_date.split(" ")[0] %></h3>
</div>
<div id="execution_trend_result">
  <script>
      Graph.plot('<%= @start_date %>', '<%= @end_date %>', '<%= @result_set %>','<%= @max_value %>',"#execution_trend_result");
  </script>
</div>

<div id="y-axisLabel">
  <p>Test execution time in seconds</p>
</div>

<div id="x-axisLabel">
  <p> Date-Range</p>
</div>
</body>

<%= render :file => '/home/footer.html.erb' %>
