<%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved:</h2>

          <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %>
      <br/>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.label :type_of_report %>
      <br/>
      <%= f.text_field :type_of_report %>
    </div>
    <div class="field">
      <%= f.label :authorization_level %>
      <br/>
      <%= f.text_field :authorization_level %>
    </div>
    <div class="actions">
      <%= f.button :submit %>
    </div>
<% end %>
