<h1>Listing projects</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Of</th>
    <th>Project</th>
    <th>Log</th>
    <th>Type</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @projects.each do |project| %>
  <tr>
    <td><%= project.Name %></td>
    <td><%= project.of %></td>
    <td><%= project.project %></td>
    <td><%= project.Log %></td>
    <td><%= project.type %></td>
    <td><%= link_to 'Show', project %></td>
    <td><%= link_to 'Edit', edit_project_path(project) %></td>
    <td><%= link_to 'Destroy', project, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Project', new_project_path %>
