<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @project.name %>
</p>

<p>
  <b>Type of report:</b>
  <%= @project.type_of_report %>
</p>

<p>
  <b>Authorization level</b>
  <%= @project.authorization_level %>
</p>


<%= link_to 'Edit', edit_project_path(@project) %> |
<%= link_to 'Back', projects_path %>
