<head xmlns="http://www.w3.org/1999/html">
  <%= javascript_include_tag 'util/utils', 'util/templates', 'upload_controller' %>
</head>

<%= render :file => '/home/header.html.erb' %>
<body>

<div id="page_title">
  <h1>Failure Analysis</h1>
</div>
<div id="sub_project_picker">
  <% if flash[:no_id_error]!=nil %>
      <p class="error"><%= flash[:no_id_error] %><br></p>
  <% end %>
  <% if flash[:no_date_error]!=nil %>
      <p class="error"><%= flash[:no_date_error] %><br></p>
  <% end %>
  <%= form_tag({:action => 'sub_project_filter'}, {:multipart => false, :id => "defect_analysis"}) do %>
      <table border="1" style="text-align: left; width: 100%;">
        <tbody>
        <tr>
          <td class="fields">
            <label for="sub_project">Select Sub-Project</label>
          </td>
          <td>
            <%= select("sub_project", "id", SubProject.all.collect { |p| [p.name, p.id] }, {:include_blank => '--Select--'}, :class => 'required') %>
          </td>
        </tr>
        <tr>
          <td class="required-field-date-field">
            <label for="start_date">Analysis Date:</label>
          </td>
          <td>
            <%= datepicker_input 'defect_analysis', 'analysis_date', :dateFormat => "yy-mm-dd", :maxDate => 0, :readonly => "readonly", :placeholder => 'YYYY-MM-DD', :class => 'required' %>
            <span class='error-msg'>Please Enter Analysis date</span>
          </td>
        </tr>
        <tr>
          <td></td>
          <td id="submit-project-button">
            <%= submit_tag "Plot" %>
          </td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>
</body>

<%= render :file => '/home/footer.html.erb' %>
<script type="text/javascript">
    $(document).ready(function () {
        $("#defect_analysis").validate()
    });
</script>
