<%= stylesheet_link_tag 'defect_analysis' %>
<%= javascript_include_tag 'defect_analysis_form' %>

<div id="page_title">
  <h1 style=" padding: 20px; ">Failure Analysis</h1>
</div>
<div id="sub_project_picker">
  <%= form_tag({:action => 'sub_project_filter'}, {:id => "defect_analysis_form"}) do %>
      <table border="1" style="text-align: left; width: 100%;">
        <tbody>
        <tr>
          <td class="fields-left" style="padding-bottom: 10px">
            <label for="project">Project</label>
          </td>
          <td>
            <%= select_tag 'project_id', "", :prompt => "---SELECT PROJECT-----", :id => 'project_select', :class => 'required' %>
          </td>
        </tr>
        <tr>
          <td id="div_subproject" class="fields-left" disabled="disabled" style="padding-bottom: 10px">
            <label for="sub-project">Sub Project</label>
          </td>
          <td>
            <%= select_tag 'sub_projects', "", :prompt => "---SELECT SUB PROJECT-----", :id => 'sub_project_select', :class => 'required', :disabled => true %>
          </td>
        </tr>
        <tr>
          <td id="div_category_type" class="fields-left" style="padding-bottom: 10px">
            <label for="Test-Category">Test Category </label>
          </td>
          <td>
            <%= select_tag 'test_category', "", :prompt => "---SELECT TEST CATEGORY-----", :id => 'test_category_select', :class => 'required', :disabled => true %>
          </td>
        </tr>
        <tr>
          <td class="div_run_date" style="padding: 25px">
            <label for="date">Run Date</label>
          </td>
          <td>
            <input type="text" id="date" name="dates" readonly="readonly" placeholder="YYYY-MM-DD" class="required" disabled="true"/>
          </td>
        </tr>
        <tr>
          <td class="div_specific_run" style="padding: 25px">
            <label for="specificRun">Run</label>
          </td>
          <td>
            <%= select_tag 'test_runs', "", :prompt => "---SELECT SPECIFIC RUN-----", :id => 'test_run_select', :class => 'required', :disabled => true %>
          </td>
        </tr>
        <tr>
          <td></td>
          <td id="show-failures">
            <%= submit_tag "Submit", {:id => "failure_analysis"} %>
          </td>
        </tr>
        <tr>
          <td class="serverData" style="display: none;"><%= @projects %></td>
        </tr>
        </tbody>
      </table>
  <% end %>
</div>