<head xmlns="http://www.w3.org/1999/html">
  <link rel="stylesheet" href="../../assets/stylesheets/application.css"/>
</head>
<script type="text/javascript" src="http://jzaefferer.github.com/jquery-validation/jquery.validate.js"></script>
<script src="http://code.jquery.com/ui/1.10.0/jquery-ui.js"></script>
<script src="../../assets/javascripts/jquery-latest.js"></script>
<%= render :file=> '/home/header.html.erb' %>
<body>

<div id="page_title">
  <h1>Defect Analysis</h1>

</div>
<div id="sub_project_picker">
  <% if flash[:no_id_error]!=nil %>
      <p class="error"><%= flash[:no_id_error] %><br></p>
  <% end %>
  <% if flash[:no_date_error]!=nil %>
      <p class="error"><%= flash[:no_date_error] %><br></p>
  <% end %>
  <h2>Select Sub-Project for defect analysis</h2>
  <%= form_tag({:action => 'sub_project_filter' },{ :multipart => false,:id => "defect_analysis"}) do %>
      <div class="fields" >
        <label for="sub_project">Sub-Project:</label>
        <div class="required-field">
            <%= select("sub_project", "id", SubProject.all.collect {|p| [ p.name, p.id ] },{:include_blank => ''},:class=> 'required' ) %>
         </div>
        <br>
      </div>
      <div class="fields" >
        <label for="start_date">Analysis Date:</label>
        <div class="required-field date-field">
          <%= datepicker_input 'defect_analysis', 'analysis_date',:dateFormat => "yy-mm-dd" , :readonly => "readonly"%>
          <span class='error-msg'>Please Enter Analysis date</span>
        </div>
      </div>
      <div id="submit-project-button">
        <%= submit_tag "Plot" %>
      </div>
  <% end %>
</div>

</body>
<%= render :file=> '/home/footer.html.erb' %>
<script type="text/javascript">
    $(document).ready(function(){
        $("#defect_analysis").validate()
        $("#defect_analysis").submit(function(){
            return Utils.validateDate($("#defect_analysis"));
        });
    });
</script>

