<%= form_for(@project_meta_datum) do |f| %>
    <% if @project_meta_datum.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@project_meta_datum.errors.count, "error") %> prohibited this project meta data from being
            saved:</h2>

          <ul>
            <% @project_meta_datum.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.browser :browser %>
      <br/>
      <%= f.text_field :browser %>
    </div>
    <div class="field">
      <%= f.label :date_of_execution %>
      <br/>
      <%= f.date_select :date_of_execution %>
    </div>

    <div class="field">
      <%= f.host_name :host_name %>
      <br/>
      <%= f.text_field :host_name %>
    </div>

    <div class="field">
      <%= f.user_timezone :user_timezone %>
      <br/>
      <%= f.text_field :user_timezone %>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
