<!DOCTYPE html>
<html>
<head>
  <title>TTA</title>
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :jquery %>
  <%= javascript_include_tag 'd3.v2' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'application', 'jquery-latest', 'jquery-ui', 'underscore' %>
  <%= javascript_include_tag 'jquery.validate', 'flot', 'jquery.flot', 'jquery.flot.time', 'excanvas', 'excanvas.min' %>
</head>
<body>
<%= yield %>
</body>
</html>
