<!DOCTYPE html>
<html>
<head>
  <title>Tta</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag :jquery %>
  <%= javascript_include_tag :defaults, :flot %>
  <%= javascript_include_tag 'jquery.flot','excanvas','excanvas.min','d3.v2' %>
  <%= javascript_include_tag 'jquery-ui' %>
  <%= javascript_include_tag 'jquery_ujs','jquery.flot.time' %>
  <%= javascript_include_tag 'application','defect_analysis','jquery-latest','jquery-ui','underscore' %>
  <%= javascript_include_tag 'jquery.validate','comparitive_analysis','upload_controller','admin','util/templates','util/utils','flot' %>
  <link rel="stylesheet" href="../../assets/stylesheets/application.css"/>

</head>
<body>

<%= yield %>

</body>
</html>
