<!DOCTYPE html>
<html>
<head>
  <title>Tta</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
  <%= javascript_include_tag 'jquery.min' %>
  <%= javascript_include_tag 'jquery-ui-1.8.13.custom.min' %>
  <%= javascript_include_tag 'jquery.tmpl.min' %>
  <%= javascript_include_tag 'jquery.iframe-transport' %>
  <%= javascript_include_tag 'jquery.fileupload' %>
  <%= javascript_include_tag 'jquery.fileupload-ui' %>
  <%= javascript_include_tag 'jquery_ujs' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag :defaults, :flot %>
</head>
<body>

<%= yield %>

</body>
</html>
